body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Menu {
  width: 393px;
  height: 852px;
  border-radius: var(--Empty-cart, 0px);
}

Footer {
  color: #fff;
  display: flex;
  padding: 48px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: var(--Empty-cart, 0px);
  background: var(--brand-blue-300, #053766);
  text-decoration: none;
}
